%html(lang="en-US")
    %head
        %title Lodestone When
        %meta(charset="utf-8")
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")
        %meta(name="author" content="karashiiro")
        %meta(name="description" content="Lodestone When allows you to estimate when a FFXIV character was created with just its Lodestone ID.")
        %meta(property="og:description" content="Lodestone When allows you to estimate when a FFXIV character was created with just its Lodestone ID.")
        %meta(property="og:url" content="https://karashiiro.github.io/lodestone-when")
        %meta(property="og:type" content="website")
        %meta(property="og:title" content="Lodestone When")
        %meta(name="twitter:title" content="Lodestone When")
        %meta(name="twitter:site" content="@karashiiro1")
        %meta(name="twitter:creator" content="@karashiiro1")
        %meta(name="theme-color" content="#f73b5a")
        %meta(name="robots" content="index, follow")
        %script(type="text/javascript" src="./lwhen.js" defer)
        %link(rel="stylesheet" href="./index.css")
    %body
        .content
            .wrapper
                %h1 Lodestone When
                %p Estimate when a FFXIV character was created with just its Lodestone ID!
                .estimation
                    %input(type="text" id="lodestone-id" placeholder="Lodestone ID")
                    %input(type="button" value="Estimate" onClick="parseId()")
                    %p(id="creation-time")
                .push
            %footer
                %a(class="ref" href="https://github.com/karashiiro/lodestone-id-time")
                    %img(class="ref-image" src="./i/github.png" height="21" width="21")
                    lodestone-id-time
                %a(class="ref" href="https://github.com/karashiiro/lodestone-when")
                    %img(class="ref-image" src="./i/github.png" height="21" width="21")
                    lodestone-when